{% extends 'base.html.twig' %}


{% block content %}
    <a href="{{ path("customer_registration") }}" class="btn btn-primary">Customer registration</a>
{#    <a href="{{ path("add_item") }}" class="btn btn-primary">Add Item</a>#}
{#    <a href="{{ path("order_create") }}" class="btn btn-primary">Create Order</a>#}
    <a href="{{ path("reports") }}" class="btn btn-primary">Reports</a>
    <a href="{{ path("search") }}" class="btn btn-primary">Search</a>
{% endblock %}